body {
  margin: 0;
}

.topnav {
  background-color: #fccc04;
  height: 4.6875rem;
}

.logo-2 {
  
}

.asp {
  background-color: #1c4444;
  size: 1000px;
}

.lelola > .nav1 {
  background-color: #009d2e;
  text-align: center;
  color: white;
  border: 30px #046cb4;
  margin: 25px;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
}

.nav1 {
  background-color: #046cb4;
  text-align: center;
  color: white;
  border: 30px #046cb4;
  margin: 25px;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
}

ul {
  margin: 0;
}

.Byg {
  size: 1000px;
}

.logo > img {
  margin: 10px;
}

.logo-2 > img {
  margin: 10px;
}

.produkter {
  text-decoration: none;
}

.Legoland {
  text-decoration: none;
}

.overtekst {
  text-decoration: none;
  width: 1840px;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
}

.liltekst {
  text-decoration: none;
  width: 1800px;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
}

.Tekst {
  text-decoration: none;
  width: 1820px;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
}

.Hello {
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  margin: 15px;
  margin-left: 25px;
  position: fixed;
}

.Hello2 {
  margin-left: 160px;
}

/*.Hello4 {
  margin-left: 410px;
}*/

.side {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  margin: 15px;
  margin-left: 25px;
  position: fixed;
}

.merlinlego {
  background-color: #009d2f8d;
  color: white;
  text-decoration: none;
}

.sidefod {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% bottom;
  order: 6;
}

.nedside img {
  bottom: 0;
  margin-top: -21px;
  margin-left: 670px;
}

.nedside {
  padding-bottom: 0;
  margin-bottom: 0;
}
